name: Publish Release

on:
  pull_request:
    types: [closed]
  workflow_dispatch:
    
jobs:
  publish-release:
    permissions:
      contents: write
      
    runs-on: ubuntu-latest
    env:
      RELEASE_VERSION: 'v1.2.3'  # Set your release version here
    steps:
      - uses: actions/checkout@v2
      - name: Get Node.js version
        id: nvm
        run: echo ::set-output name=NODE_VERSION::$(cat .nvmrc)
      - uses: actions/setup-node@v2
        with:
          node-version: ${{ steps.nvm.outputs.NODE_VERSION }}
      - uses: MetaMask/action-publish-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          RELEASE_VERSION: 'v1.2.3'  # Set your 
          RELEASE_VERSION=: 'v1.2.3'
